@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-lightitalic-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Merriweather';
  src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-lightitalic-webfont.woff2') format('woff2');
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Merriweather', serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}